body {
    margin-top: 10px;
    padding: 0;
    background-color: #EEE;
    text-align: center;
}

#images {
    display: none;
}

#screen {
    border: 4px solid #CCC;
    border-radius: 30px;
    display: inline-block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;    
}